@use '../abstracts/index'as *;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors-hsl, secondary, 700);
    transition: .5s;
    margin-top: $navbar-height;
    color: map-get($colors-hsl, neutral, 200);
    font-family: $body-font;
    font-size: map-get($font-size, normal);
    font-weight: map-get($font-weight, $key:medium);
    line-height: 1.6;
    // @include colorMode($light-mode: true);
}

// ======= DARK THEME ======= // 


// ======= END DARK THEME ======= //

h1 {
    font-size: clamp(#{map-get($font-size, biggest)}, 5vw, #{map-get($font-size-desktop, biggest)});
}

h2 {
    font-size: clamp(#{map-get($font-size, h2)}, 5vw, #{map-get($font-size-desktop, h2)});
}

h3 {
    font-size: clamp(#{map-get($font-size, h3)}, 5vw, #{map-get($font-size-desktop, h3)});
}

p {
    font-size: clamp(#{map-get($font-size, normal)}, 2vw, #{map-get($font-size-desktop, normal)});
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h2,
h3 {
    font-weight: map-get($font-weight, $key:semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
    display: block;
}